extends layout

block content
    - var items = [{label:'Белки',classId: 'proteins'},{label:'Жиры',classId: 'triglyceride'},{label:'Углеводы',classId: 'carbohydrate'},{label:'Ккал',classId: 'calorie'}];
    - var daily = [{label:'Завтрак',classId: 'breakfast'},{label:'Ланч',classId: 'firstLunch'},{label:'Обед',classId: 'secondLunch'},{label:'Перекус',classId: 'thirdLunch'},{label:'Ужин',classId: 'dinner'},{label:'Перед сном',classId: 'secondDinner'}];
    div(class='container')
        div
            div(class='table')
                div(class='resultDish')
                        div
                            div(class='product')
                                each item in items
                                    input(disabled class='label' value=item.label)
                        div
                            div(class='product')
                                each item in items
                                    input(disabled class='#{item.classId} label' placeholder=0)

            div(class='table')
                div(class='product')
                    input(type='date' class='dailyDate')
            div(class='daily table')
                div(class='result')
                    div(class='product')
                        p(class='label') Итог
                        input(disabled class='description item' placeholder='Описание')
                        each item in items
                            input(disabled class='#{item.classId} item notCalc' placeholder=item.label)
                        input(disabled class='details item' placeholder='Детали')
                each item in daily
                    div(class=item.classId)
                        div(class='product')
                            p(class='label') #{item.label}
                            div(contenteditable=true class='description item' placeholder='Описание')
                            each item in items
                                input(class='#{item.classId} item' placeholder=item.label)
                            //div(class='details' )
                            //textarea(class='details' placeholder='Детали')
                            div(contenteditable=true class='details item' placeholder='Детали')
                div(class='newItem additionalProduct')
                    div(class='product')
                        button(class='label addButton') +
                        div(contenteditable=true class='item description' placeholder='Описание')
                        each item in items
                            input(class='#{item.classId} item' placeholder=item.label)
                        div(contenteditable=true class='details item' placeholder='Детали')

    div(class='container')
        div(class='currentDishProducts table')

        div(class='table allProducts')
            div(class='newProduct product')
                button(class='addProductButton') +
                div(contenteditable=true class="description item" placeholder="Имя")
                each item in items
                    input(class='#{item.classId} item' placeholder=item.label)
            div
                select(class='sortBy product')
                    option(value="description") Имя
                    each item in items
                        option(value=item.classId) #{item.label}
                select(class='sortOrder product')
                    option(value="greater") По возрастанию
                    option(value="lower") По убыванию


            div(class='productsList')


    script(src='product.js')
    script(src='utils.js')
    script(src='dailyView.js')
    script(src='products.js')

