extends layout

block content
    div(class='currentDish row col-sm-6')
        div(class='result row col-sm-2')
            p(class='item') Белки
            p(class='item') Жиры
            p(class='item') Углеводы
            p(class='item') Ккал
        div(class='result col-sm-6 row')
            p(class='proteins item') 0
            p(class='triglyceride item') 0
            p(class='carbohydrate item') 0
            p(class='calorie item') 0
        ul(class='currentDishProducts col-sm-12')

    div(class='products row col-sm-6')
        ul(class='newProduct')
            div(class='product row col-sm-12')
                button(class='addProductButton col-sm-1') +
                input(class='description item col-sm-4' placeholder='Описание')
                input(class='proteins item col-sm-1' placeholder='Белки')
                input(class='triglyceride item col-sm-1' placeholder='Жиры')
                input(class='carbohydrate item col-sm-1' placeholder='Углеводы')
                input(class='calorie item col-sm-1' placeholder='Ккал')
        ul(class='productsList')


    div(id='templates' class='hide')
        div(class='product row col-sm-12')
            button(class='add col-sm-1') +
            input(disabled=true class='description item col-sm-4' placeholder='Описание')
            input(disabled=true class='proteins item col-sm-1' placeholder='Белки')
            input(disabled=true class='triglyceride item col-sm-1' placeholder='Жиры')
            input(disabled=true class='carbohydrate item col-sm-1' placeholder='Углеводы')
            input(disabled=true class='calorie item col-sm-1' placeholder='Ккал')
        div(class='dishProduct row')
            button(class='remove col-sm-1') -
            input(disabled=true class='description item col-sm-5' placeholder='Описание')
            input(disabled=true class='proteins item col-sm-1' placeholder='Белки')
            input(disabled=true class='triglyceride item col-sm-1' placeholder='Жиры')
            input(disabled=true class='carbohydrate item col-sm-1' placeholder='Углеводы')
            input(disabled=true class='calorie item col-sm-1' placeholder='Ккал')
            input(class='mass col-sm-2' placeholder='Вес' value='100')

    script.
        var templates = $('#templates');
        var addButton = $('.addProductButton');
        var newProduct = $('.newProduct');
        var productsList = $('.productsList');
        var currentDishProducts = $('.currentDishProducts');
        var result = $('.result');


        getUpdates();

        addButton.click(function(){

            if( newProduct.find('.description').val() == '' ||
                newProduct.find('.proteins').val() == '' ||
                newProduct.find('.triglyceride').val() == '' ||
                newProduct.find('.carbohydrate').val() == '')
            {
                console.error("Wrong product");
                return;
            }

            var product = getProductFromItem(newProduct);
            $.post(window.location.href +  "newProduct", product)
                    .done(function () {
                        console.log("Product added");
                        newProduct.find('.description').empty();
                        newProduct.find('.proteins').empty();
                        newProduct.find('.triglyceride').empty();
                        newProduct.find('.carbohydrate').empty();
                        newProduct.find('.calorie').empty();

                        getUpdates();
                    })
                    .fail(function (error) {
                        console.log(error.responseText);
                    });
        });

        function getUpdates(){
            $.get(window.location.href + "list", function (data) {
                updateList(data);
            });
        }

        function getProductFromItem(item){
            return {
                description: item.find('.description').val(),
                proteins: item.find('.proteins').val(),
                triglyceride: item.find('.triglyceride').val(),
                carbohydrate: item.find('.carbohydrate').val(),
                calorie: item.find('.calorie').val()
            }
        }

        function removeFromCurrentDish(view){
            view.detach();
            reCalc();
        }

        function addToCurrentDish(product){
            var productView = templates.find('.dishProduct').clone();

            productView.find('.description').val(product.description);
            productView.find('.proteins').val(product.proteins);
            productView.find('.triglyceride').val(product.triglyceride);
            productView.find('.carbohydrate').val(product.carbohydrate);
            productView.find('.calorie').val(product.calorie);
            productView.find('.remove').click(removeFromCurrentDish.bind(null, productView));

            productView.find('input').on('input propertychange paste', reCalc);

            productView.appendTo(currentDishProducts);

            reCalc();
        }

        function reCalc(){
            var res = {
                proteins: 0,
                triglyceride: 0,
                carbohydrate: 0,
                calorie: 0
            }
            currentDishProducts.find('.dishProduct').each(function(){
                var item = $(this);
                var product = getProductFromItem(item);
                var mass = +(item.find('.mass').val()) / 100;

                res.proteins += +product.proteins * mass;
                res.triglyceride += +product.triglyceride * mass;
                res.carbohydrate += +product.carbohydrate * mass;
                res.calorie += +product.calorie * mass;
            });

            result.find('.proteins').text(res.proteins);
            result.find('.triglyceride').text(res.triglyceride);
            result.find('.carbohydrate').text(res.carbohydrate);

            result.find('.calorie').text(res.calorie);
        }

        function updateList(list) {
            productsList.empty();

            for(var i = 0; i < list.length; i++){
                var product = list[i];

                var productView = templates.find('.product').clone();

                productView.find('.description').val(product.description);
                productView.find('.proteins').val(product.proteins);
                productView.find('.triglyceride').val(product.triglyceride);
                productView.find('.carbohydrate').val(product.carbohydrate);
                productView.find('.calorie').val(product.calorie);

                productView.find('.add').click(addToCurrentDish.bind(null, product));


                productView.appendTo(productsList);
            }
        }