extends layout

block content
    - var items = [{label:'Белки',classId: 'proteins'},{label:'Жиры',classId: 'triglyceride'},{label:'Углеводы',classId: 'carbohydrate'},{label:'Ккал',classId: 'calorie'}];
    - var daily = [{label:'Завтрак У40-50',classId: 'breakfast'},{label:'Ланч У20-30',classId: 'firstLunch'},{label:'Обед У20-30',classId: 'secondLunch'},{label:'Перекус У15',classId: 'thirdLunch'},{label:'Ужин У10',classId: 'dinner'},{label:'Перед сном У10',classId: 'secondDinner'}];
    div(class='container')
        div
            div(class='table')
                div(class='resultDish')
                    div
                        div(class='product')
                            each item in items
                                input(disabled class='label' value=item.label)
                            input(disabled class='label' value='Масса')
                    div
                        div(class='product')
                            p Полное блюдо
                            each item in items
                                input(disabled class='#{item.classId} label' value=0)
                            input(class='mass label' value='0')
                div(class='portion')
                    div(class='product')
                        p Порция
                        each item in items
                            input(disabled class='#{item.classId} label' value=0)
                        input(class='mass label' value='0')

            div(class='table')
                div(class='product')
                    input(type='date' class='dailyDate')
            div
                div(class='daily table')
                    div(class='result')
                        div(class='product')
                            input(disabled class='label' value='Итог')
                            input(disabled class='description item' value='Описание')
                            each item in items
                                input(disabled class='#{item.classId} item notCalc')
                            div(class='item notCalc disableForInput') Детали
                    each dailyDish in daily
                        div(class=dailyDish.classId)
                            div(class='product')
                                div( class='label disableForInput') #{dailyDish.label}
                                div( contenteditable=true class='description item enableForInput' placeholder='Описание')
                                each item in items
                                    input(class='#{item.classId} item')
                                //div(class='details' )
                                //textarea(class='details' placeholder='Детали')
                                div(contenteditable=true class='details item enableForInput' placeholder='Детали')
                    div(class='newItem additionalProduct')
                        div(class='product')
                            button(class='label addButton') +
                            div(contenteditable=true class='item description enableForInput' placeholder='Описание')
                            each item in items
                                input(class='#{item.classId} item' placeholder=item.label)
                            div(contenteditable=true class='details item enableForInput' placeholder='Детали')

    div(class='container')
        div(class='currentDishProducts table')

        div(class='table allProducts')
            div(class='newProduct product')
                button(class='addProductButton') +
                div(contenteditable=true class="description item enableForInput" placeholder="Описание")
                each item in items
                    input(class='#{item.classId} item' placeholder=item.label)
            div
                select(class='sortBy product')
                    option(value="description") Имя
                    each item in items
                        option(value=item.classId) #{item.label}
                select(class='sortOrder product')
                    option(value="greater") По возрастанию
                    option(value="lower") По убыванию


            div(class='productsList')

    script.
        var socket = io.connect('', {
            reconnect: true
        });
        socket
                .on('connect', function () {
                    console.log("connected");
                })
                .on('disconnect', function () {
                    console.log("disconnected");
                })
    script(src='product.js')
    script(src='utils.js')
    script(src='dailyView.js')
    script(src='products.js')

