//
   Created by vasiliy.lomanov on 21.05.2015.

div(class='currentDishProducts myTable')

div(class='myTable allProducts inline-block')
   div(class='newProduct product inline-block')
      button(class='addProductButton item btn btn-xs btn-info ')
         i +
      div(contenteditable=true class="description item enableForInput" placeholder="Описание")
      each item in items
         input(class='#{item.classId} item' placeholder=item.label)

   div
       div(class='product inline-block')
            select(class='sortBy form-control-static')
                option(value="description") Имя
                each item in items
                    option(value=item.classId) #{item.label}
            select(class='sortOrder form-control-static')
                option(value="greater") По возрастанию
                option(value="lower") По убыванию


   div(class='productsList list-unstyled')