//
   Created by vasiliy.lomanov on 21.05.2015.

div(class='currentDishProducts table')

div(class='table allProducts')
   div(class='newProduct product')
      button(class='addProductButton item') +
      div(contenteditable=true class="description item enableForInput" placeholder="Описание")
      each item in items
         input(class='#{item.classId} item' placeholder=item.label)
   div
      select(class='sortBy product')
         option(value="description") Имя
         each item in items
            option(value=item.classId) #{item.label}
      select(class='sortOrder product')
         option(value="greater") По возрастанию
         option(value="lower") По убыванию


   div(class='productsList fly')